body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    padding:20px;
}
h1{
    text-align:center;
    color:#38bdf8;
}
.box{
    background:#1e293b;
    padding:12px;
    margin-bottom:10px;
    border-left:4px solid #38bdf8;
}
span{
    color:#a7f3d0;
    font-weight:bold;
}