   /* * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Poppins', sans-serif;
   }

   body {
       background: linear-gradient(135deg, #5c5d5e, #100f11);
       min-height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
   }

   .container {
       background: #ffffff;
       max-width: 700px;
       width: 100%;
       border-radius: 12px;
       padding: 30px;
       box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
   }

   h1 {
       font-style: italic;
       text-decoration: underline;
       text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
       text-align: center;
       margin-bottom: 10px;
       color: #333;
   }

   .info {
       text-align: center;
       font-size: 14px;
       color: #666;
       margin-bottom: 30px;
   }

   .question {
       background: #f4f6ff;
       padding: 15px 20px;
       border-radius: 8px;
       margin-bottom: 20px;
       border-left: 5px solid #2e2e2e;
   }

   .question h2 {
       font-size: 16px;
       margin-bottom: 8px;
       color: #333;
   }

   .question p {
       font-size: 14px;
       color: #555;
   }

   button {
       margin-top: 20px;
       padding: 10px 20px;
       border: none;
       background: #61636d;
       color: white;
       font-size: 14px;
       border-radius: 6px;
       cursor: pointer;
       transition: 0.3s;
   }

   button:hover {
       background: #a0a0a1;
   }

   footer {
       text-align: center;
       margin-top: 25px;
       font-size: 13px;
       color: #777;
   } */




      * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Poppins', sans-serif;
   }

   body {
       background: linear-gradient(135deg, #5c5d5e, #100f11);
       min-height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
   }

   .container {
       background: #ffffff;
       max-width: 700px;
       width: 100%;
       border-radius: 12px;
       padding: 30px;
       box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
   }

   h1 {
       font-style: italic;
       text-decoration: underline;
       text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
       text-align: center;
       margin-bottom: 10px;
       color: #333;
   }

   .info {
       text-align: center;
       font-size: 14px;
       color: #666;
       margin-bottom: 30px;
   }

   .question {
       background: #f4f6ff;
       padding: 15px 20px;
       border-radius: 8px;
       margin-bottom: 20px;
       border-left: 5px solid #2e2e2e;
   }

   .question h2 {
       font-size: 16px;
       margin-bottom: 8px;
       color: #333;
   }

   .question p {
       font-size: 14px;
       color: #555;
   }

   button {
       margin-top: 20px;
       padding: 10px 20px;
       border: none;
       background: #61636d;
       color: white;
       font-size: 14px;
       border-radius: 6px;
       cursor: pointer;
       transition: 0.3s;
   }

   button:hover {
       background: #a0a0a1;
   }

   footer {
       text-align: center;
       margin-top: 25px;
       font-size: 13px;
       color: #777;
   }